<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.3">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Dashboard</title>
</head>

<body>
    <h1 class="tt">Dashboard</h1>

    <div class="side-panel">
        <label for="dataToSend">DATA to send</label>
        <input type="text" name="dataToSend" id="dataToSend">
        <br>
        <br>
        <a class="button" id="testButton" onclick="sendData(document.getElementById('dataToSend').value)">Send data</a>
        <a class="button" href="/home">Home</a>
        <hr>
    </div>

    <div id="notification" style="display: none">
        <p id="notifText">Epic notification</p>
    </div>

    

</body>

</html>